@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url("https://unpkg.com/open-props@1.6.17/easings.min.css");

$white: #e4f9fa;
$yellow: #fde655;
$orange: #d47946;
$red: #7a2c1f;

body,html {
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: none;
  overflow: hidden;
  text-align: center;
  user-select: none;
  color: #e4f9fa;
  background-color: #1f2029;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: crosshair;
}

h1 {
  font-size: 1.75rem;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.4;
  text-shadow: 0 0.25em 0 rgba(#000,.5);
}

h3 {
  font-size: 1.25rem;
  position: absolute;
  top: 55%; left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.4;
  text-shadow: 0 0.25em 0 rgba(#000,.5);
  max-width: 444px;
}

.text{
  border-right: 4px solid black;
  white-space: nowrap;
  overflow: hidden;
}

button {
  all: unset;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  cursor: pointer;
  perspective: 1000px;
  position: absolute;
  top: 90%; left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.container {
  position: absolute;
  width: 20rem; height: 20rem;
  transform: translate(-50%,-50%);
  pointer-events: none;
  &:before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    display: block; 
    width: 2rem; height: 2rem;
    background: rgba(#000,.25);
    transform: rotate(45deg);
    outline: 10px solid rgba(#000,.1);
  }
  &:nth-child(4n),
  &:nth-child(7n){
    &:before {
      display: none;
    }
  }
}
.particle {
  position: absolute;
  display: block;
  top: 50%; left: 50%;
  width: 0; height: 0;
  
  @for $i from 0 through 20 {
    &:nth-child(#{$i + 1}) {
      .sparcle {
        animation-delay: $i * 50ms;
      }
    }
  } 
}
.sparcle {
  position: absolute;
  display: block;
  top: 0; left: 0;
  width: 3rem; height: 3rem;
  background: rgba($white,0);
  will-change: transform, box-shadow, background-color;
  transform: rotate(45deg) scale(0.5) translateZ(0);
  animation: explode 333ms;
  
  box-shadow: 0 0 0 0 $yellow;
}

.animation{
  animation: typewriter 5s steps(19) 1s infinite both, blinkCursor 500ms steps(19) infinite;
}

@keyframes typewriter {
  from {
      width: 0;
 }
  to {
      width: 444px;
 }
}
@keyframes blinkCursor{
  from {
      border-right-color: white;
 }
  to {
      border-right-color: transparent;
 }
}


@keyframes explode {
  0% {
    background-color: $white;
    transform: rotate(45deg) scale(1.2) translateZ(0);
    box-shadow: 0 0 0 0 $yellow;
  }
  40% {
    background-color: rgba($white,.1);
  }
  50% {
    transform: rotate(45deg) scale(1) translateZ(0);
    box-shadow: 0 0 0 10px $yellow;
    background-color: rgba($white,0);
  }
  60% {
    box-shadow: 0 0 0 50px $orange;
    transform: rotate(45deg) scale(0.5) translateZ(0);
  }
  70% {
    background-color: rgba($white,0);
    box-shadow: 0 0 0 30px $red;
  }
  100% {
    background-color: $red;
    box-shadow: 0 0 0 0 $red;
    transform: rotate(45deg) scale(0.25) translateZ(0);
  }
}
